<div class="barra-texto">
  <div class="contenedor-textos">
    <% full_texts = (texts * 3) %>
    <% (full_texts + full_texts).each_with_index do |txt, index| %>
      <span class="texto">
        <%= txt %>
        <% unless index == (full_texts + full_texts).size - 1 %>
          <span class="separador">●</span>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
