/* Estilos para el contenedor del video */
.video-container {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

/* Estilos para el video de fondo */
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Título responsivo */
.title {
  font-size: clamp(2.5rem, 6vw, 6rem);
}

.mt-6 {
  margin-top: clamp(2rem, 10vw, 20rem);
}
@media (max-width: 768px) {
  .title {
    font-size: clamp(2rem, 5vw, 4rem);
  }

  .mt-6 {
    margin-top: 10rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: clamp(1.5rem, 5vw, 3rem);
  }

  .mt-6 {
    margin-top: 8rem;
  }
}

.container {
  position: relative;
  z-index: 2;
}

/* Centrar el contenido en pantallas grandes */
@media (min-width: 992px) {
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Estilo para el boton de más información */
.custom-btn {
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  padding: 0.75rem 2rem;
  transition: background 0.3s, color 0.3s, border 0.3s;
  font-weight: bold;
  text-decoration: none;
}

.custom-btn:hover {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
}

/* Estilo para el icono de flecha */
.arrow-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  line-height: 1;
}

/* Animación del icono al hacer hover */
.custom-btn:hover .arrow-icon {
  transform: translateX(5px);

  transform: translateX(5px) rotate(90deg);
}

.subtittle {
  font-size: 3.5rem;
}

.small-box {
  width: 15rem;
  height: 8rem;
  overflow: visible;
}

.floating-image {
  width: 10rem;
}


/* 🌑 Estilo por defecto (modo oscuro) */
.inverse-box {
  background-color: #444;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
  background-repeat: repeat;
  background-size: contain;
  color: #f8f8f8;
  border-radius: 40px;
  padding: 2rem;
}

/* ☀️ Estilo para modo claro */
body[data-theme="dark"] .inverse-box {
  background-color: #f0f0f0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
  color: #222;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

body[data-theme="dark"] .floating-image {
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.5));
}
.inverse-box:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.inverse-box:hover .floating-image {
  width: 12rem;
}