.barra-texto {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 10px 0;
}

.contenedor-textos {
  display: flex;
  white-space: nowrap;
  animation: mover 20s linear infinite;
}

.texto {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: red;
  padding: 0 1rem;
}

.separador {
  margin-left: 2rem;
  font-size: 1.2em;
  color: red;
}

@keyframes mover {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
