.barra-texto {
  width: 100%;
  overflow: hidden;
}

.contenedor-textos {
  display: flex;
  white-space: nowrap;
  animation: mover 20s linear infinite;
}

.texto {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
}

.separador {
  margin-left: 2rem;
  font-size: 1.2em;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.color-red {
  color: red;
  background-color: white;
}

.color-white {
  color: white;
  background-color: red;
}
