<p style="color: green"><%= notice %></p>

<% content_for :title, "T shirts" %>

<h1>T shirts</h1>

<div id="t_shirts">
  <% @t_shirts.each do |t_shirt| %>
    <%= render t_shirt %>
    <p>
      <%= link_to "Show this t shirt", t_shirt %>
    </p>
  <% end %>
</div>

<%= link_to "New t shirt", new_t_shirt_path %>
